<!DOCTYPE html>
<html>
<head>
	<title>Books</title>
</head>
<body>

<table width="100%" cellpadding="10" cellspacing="5" border="2" bgcolor="#dddddd"> 
  <tr>
    <th width="10%" align="left">Navigation Menu</th>
    <th width="80%" align="left">Avalible Books</th>
  </tr>
  <tr>
    <td height="5px"><a href="home.html">Home</a></td>
    <td rowspan="0">
    <a href="book1.html"><img src="The_Maze_Runner_cover.jpg" width="200" height="250" align="center"/></a> <a href="book1.html">&ensp;The Maze Runner</a><br /><br />
    <a href="book2.html"><img src="The_Hunger_Games_cover.jpg" width="200" height="250" align="center"/></a><a href="book2.html">&ensp;The Hunger Games</a><br /><br />
    <a href="book3.html"><img src="harrypotter.jpg" width="200" height="250" align="center"/></a><a href="book3.html">&ensp;Harry Potter</a><br /><br />
    </td>
  </tr>
  <tr>
    <td height="15vh"><a href="books.html">Books</a></td>
  </tr>
  <tr>
    <td height="15vh"><a href="contact.html">Contact-Us</a></td>
  </tr>
  <tr>
    <td height="15vh"><a href="survey.html">Survey</a></td>
  </tr>
</table>

</body>
</html>
