<!DOCTYPE html>
<html>
<head>
	<title>details</title>
</head>
<body>

<table width="100%" cellpadding="10" cellspacing="5" border="2" bgcolor="#dddddd"> 
  <tr>
    <th width="10%" align="left">Navigation Menu</th>
    <th width="80%" align="left">Book Details</th>
  </tr>
  <tr>
    <td height="5px"><a href="home.html">Home</a></td>
    <td rowspan="0">
    <img src="The_Hunger_Games_cover.jpg" width="400" height="500" align="left"/>&ensp;<strong>The Hunger Games</strong>&ensp;
    <br /><p style="display: inline;">&ensp;This is a great book, we recommand that you read it. <br>&ensp;It will be a very fun read.</p>
    </td>
  </tr>
  <tr>
    <td height="15vh"><a href="books.html">Books</a></td>
  </tr>
  <tr>
    <td height="15vh"><a href="contact.html">Contact-Us</a></td>
  </tr>
  <tr>
    <td height="15vh"><a href="survey.html">Survey</a></td>
  </tr>
</table>

</body>
</html>
