<!DOCTYPE html>
<html>
<head>
		<title>HomePage</title>
</head>
<body>

<table width="100%" cellpadding="10" cellspacing="5" border="2" bgcolor="#dddddd"> 
  <tr bgcolor="lightblue">
    <th width="10%" align="left">Navigation Menu</th>
    <th width="80%" align="left" >Mobasery Library</th>
  </tr>
  <tr>
    <td><a href="home.html">Home</a></td>
    <td rowspan="4" align="top">Welcome to the Mobasery library homepage, please use the side option to navigate to different pages.</td>
  </tr>
  <tr>
    <td><a href="books.html">Books</a></td>
  </tr>
  <tr>
    <td><a href="contact.html">Contact-Us</a></td>
  </tr>
  <tr>
    <td><a href="survey.html">Survey</a></td>
  </tr>
</table>

</body>
</html>
