<!DOCTYPE html>
<html>
<head>
	<title>Survey</title>
</head>
<body>

<table width="100%" cellpadding="10" cellspacing="5" border="2" bgcolor="#dddddd"> 
  <tr>
    <th width="10%" align="left">Navigation Menu</th>
    <th width="80%" align="left">Survey</th>
  </tr>
  <tr>
    <td height="5px"><a href="home.html">Home</a></td>
    <td rowspan="0">
    <br />            
    <form action="#">
        <label for="fname">Name:</label>
        <input type="text" id="fname" name="fname" value="Enter Name"><br>
        <label for="start">Start date:</label>
        <input type="date" id="start" name="trip-start"><br>
    </form>
    <form action="clear" >How likely is it that &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
        <input type="radio" id="Very" name="Very" value="Very">
        <label for="Very">Very likely</label>
        <input type="radio" id="Somewhat" name="Somewhat" value="Somewhat">
        <label for="Somewhat">Somewhat likely</label>
        <input type="radio" id="Not" name="Not" value="Not">
        <label for="Not">Not likely</label><br>
        you recommend this library<br> 
        to your friends?</p>
        &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
        <input type="reset" value="Submit">
    </form>
    </td>
  </tr>
  <tr>
    <td height="15vh"><a href="books.html">Books</a></td>
  </tr>
  <tr>
    <td height="15vh"><a href="contact.html">Contact-Us</a></td>
  </tr>
  <tr>
    <td height="15vh"><a href="survey.html">Survey</a></td>
  </tr>
</table>

</body>
</html>
